<div class="container">
    <!-- <input type="text" [(ngModel)]="name">
    <h1>My Name is {{name}}</h1> -->
    <!-- <div class="app-servers"></div> -->
    <!-- <button class="btn btn-primary" [disabled]="!isActive" (click)="onServerCreate()">Add Server</button>
    <app-servers *ngFor="let server of servers"></app-servers>             
    <app-success-alert></app-success-alert>
    <app-warning-alert></app-warning-alert>
    <input type="text" [(ngModel)]="serverName">
    <p *ngIf="isActive">{{serverStatus}}</p>
    <br><br>
    <app-asmt-two></app-asmt-two> -->
    <!-- <br><br><br><br>
    <app-asmt-three></app-asmt-three> -->
    <!-- <app-cockpit (serverEvent)="addServer($event)"></app-cockpit>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <app-server-element *ngFor="let serverElement of serverElements" [server]="serverElement">
            </app-server-element>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <app-game-control (display)="updateDisplay($event)"></app-game-control>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <app-odd [oddNumber]="displayNumber"></app-odd>
        </div>
        <div class="col-xs-6">
            <app-even [evenNumber] = "displayNumber"></app-even>
        </div>
    </div>
</div>
 -->
    <!-- <app-services></app-services> -->
    <!-- <app-asmt-four></app-asmt-four> -->
    <!-- <app-routing></app-routing> -->
    <!-- <app-forms></app-forms> -->
    <!-- <app-reactive-forms></app-reactive-forms> -->
    
     <!-- <app-forms-assignment></app-forms-assignment> -->
    <app-http></app-http>
</div>